:host {
  display: block;
}

#image {
	background: url(images/placeholder.png) center center no-repeat #f5f5f5;
	background-size: contain;
	cursor: move;
	border: 1px solid #ccc;
	height:280px;
	width:280px;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#drop-zone {
	padding-top: 150px;
}

/*
.hidden-input-button {
	line-height: normal;
}

.hidden-input-container {
	overflow: hidden;
	line-height: 0;
}
*/

.hidden-input {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 0px;
	padding-left: 100%;
	overflow: hidden;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}

#progress {
	background-color: rgba(255,255,255,.8);
}

/*
#progress-total {
	width: 72%;
	height: .8em;
	background-color: #ccc;
}

#progress-loaded {
	height: 100%;
	background-color: #3079dd;
}
*/